body {
	padding-top: 60px;
	padding-bottom: 40px;
	word-wrap: break-word;
	font-family: Sofia Pro, Helvetica, sans-serif;
	font-weight: normal !important;
}

.hero-unit p {
	font-size: 21px;
}

h2 {
	font-weight: normal;
}

p .btn {
margin-bottom: 10px;
}

.btn [class^="icon-"], [class*=" icon-"]{
	line-height: 1.2em;
}

::selection, ::moz-selection {
   background-color: rgb(235, 248, 255);
   color: rgb(0, 0, 0);
}

.login-dropdown {
   padding: 10px;
   padding-bottom: 0px;
   min-width: 100px;
}

@media all and (max-width: 415px) {
 .hero-unit h1 { font-size: 35px; font-weight: normal; text-shadow:0 0 2px rgba(255, 255, 255, 0.6); }
 .hero-unit p { font-size: 16px; line-height: 20px; }
}

.hero-unit h1 {
	font-family: Museo Slab, Helvetica, sans-serif;
	font-weight: bold !important;
}

@font-face {
    font-family: 'outagecut';
    src: url('assets/fonts/outage_cut-webfont.eot');
    src: url('assets/fonts/outage_cut-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/outage_cut-webfont.woff') format('woff'),
         url('assets/fonts/outage_cut-webfont.ttf') format('truetype'),
         url('assets/fonts/outage_cut-webfont.svg#outagecut') format('svg');
    font-weight: normal;
    font-style: normal;
}

.login-box {
	padding: 10px;
	width: 105px;
	min-width: 105px;
	padding-bottom: 0px;
}

.login-box form {
	width: 100px;
	margin-bottom: 12px;
}

label[for="remember"] {
	display: inline;
}

.login-box input[type="submit"] {
	width: 100px;
}

@font-face {
    font-family: 'Museo Slab';
    src: url('assets/fonts/Museo_Slab_500-webfont.eot');
    src: url('assets/fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Museo_Slab_500-webfont.woff') format('woff'),
         url('assets/fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
         url('assets/fonts/Museo_Slab_500-webfont.svg#MuseoSlab500Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('assets/fonts/SofiaProLight-webfont.eot');
    src: url('assets/fonts/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/SofiaProLight-webfont.woff') format('woff'),
         url('assets/fonts/SofiaProLight-webfont.ttf') format('truetype'),
         url('assets/fonts/SofiaProLight-webfont.svg#SofiaProLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#editor {
   display: block;
   border: 2px inset #666;
}

.row {
   margin-left: 0px;
}