body {
	padding-top: 60px;
	padding-bottom: 40px;
	word-wrap: break-word;
}

p .btn {
margin-bottom: 10px;
}

.btn [class^="icon-"], [class*=" icon-"]{
	line-height: 1.2em;
}

::selection, ::moz-selection {
   background-color: rgb(107, 18, 9);
   color: rgb(255, 255, 255);
}

.login-dropdown {
   padding: 10px;
   padding-bottom: 0px;
   min-width: 100px;
}

@media all and (max-width: 415px) {
 .hero-unit h1 { font-size:45px; }
 .hero-unit p { font-size: 16px; line-height: 20px; }
}